# Bike-stats
## salsabil mislat
## trip , station , weather

In [1]:

import pandas as pd

In [42]:
trip_data = pd.read_csv('trip.csv',error_bad_lines=False)
station_data=pd.read_csv('station.csv')
weather_data=pd.read_csv('weather.csv')
# trip_data
# weather_data
# station_data

/home/salsabilmislat/code401/Data-Analysis-Pandas/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,8/27/2016,72,66.0,61,57,54,50,81,65,46,...,29.88,29.77,10,10,10,16,9,NaN,0.00,NaN
685,8/28/2016,75,68.0,59,54,52,50,80,65,44,...,30.06,30.01,10,10,10,12,9,NaN,0.00,NaN
686,8/29/2016,81,68.0,55,55,53,50,89,65,39,...,30.02,29.95,10,10,6,9,4,NaN,0.00,NaN
687,8/30/2016,70,64.0,57,55,53,52,83,69,53,...,30.01,29.97,10,10,10,14,9,18,0.00,NaN
688,8/31/2016,71,65.0,59,61,56,52,90,77,63,...,29.97,29.96,10,10,8,14,8,NaN,0.00,Rain

## 1. What is the average trip duration for a borrowed bicycle?

In [3]:

average_trip=trip_data['tripduration'].mean()
average_trip

1178.2956753399776

## 2. What’s the most common age of a bicycle-sharer?

In [33]:
most_common_age=trip_data['birthyear'].mode()[0]
most_common_age
the_age=2021-most_common_age
the_age

34.0

## 3. Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [39]:
weather_data["month"]=pd.DatetimeIndex(weather_data["Date"]).month
weather_data["year"]=pd.DatetimeIndex(weather_data["Date"]).year
avg_preciption=weather_data[['Precipitation_In',"month",'year']].groupby(['year','month']).mean()
median_preciption=weather_data[['Precipitation_In',"month",'year']].groupby(['year','month']).median()
avg_preciption, median_preciption

(            Precipitation_In
 year month
 2014 10             0.300526
      11             0.141667
      12             0.145161
 2015 1              0.070645
      2              0.163214
      3              0.135161
      4              0.056667
      5              0.014194
      6              0.005667
      7              0.008710
      8              0.035484
      9              0.041000
      10             0.120645
      11             0.234000
      12             0.327419
 2016 1              0.216452
      2              0.173448
      3              0.178710
      4              0.046000
      5              0.010645
      6              0.055333
      7              0.015484
      8              0.000968,
             Precipitation_In
 year month
 2014 10                0.140
      11                0.010
      12                0.010
 2015 1                 0.010
      2                 0.025
      3                 0.000
      4                 0.000
      5                 0.000
      6                 0.000
      7                 0.000
      8                 0.000
      9                 0.000
      10                0.010
      11                0.065
      12                0.120
 2016 1                 0.070
      2                 0.080
      3                 0.060
      4                 0.000
      5                 0.000
      6                 0.000
      7                 0.000
      8                 0.000)

## 4. What’s the average number of bikes at a given bike station?

In [38]:
""" isnull : returns a DataFrame object where all the values are replaced with 
a boolean value True for NULL values, and otherwise False """
date = station_data[station_data['decommission_date'].isnull()]
the_mean_current=date['current_dockcount'].mean()
the_mean_current

17.74074074074074

## 5. When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [36]:
""" dropna is used to remove rows and columns with Null/NaN values"""
modified_station = station_data[['modification_date','install_dockcount','current_dockcount']].dropna()
lose_or_gain=modified_station['current_dockcount'].sum() - modified_station['install_dockcount'].sum()
lose_or_gain

-64

## 6. Come up with 3 more questions that can be answered with this data set.


**sort the station data depend on the current_dockcount**

In [41]:
sorting_data=station_data.sort_values(by=['current_dockcount'])
# sorting_data

**sorting the weather data depend on the Max_Temperature_F**

In [45]:
sorting_data=weather_data.sort_values(by='Mean_Temperature_F',ascending=False)
# sorting_data

**sorting the station by the index**

In [48]:

sorting_data=station_data['current_dockcount'].mean()
# sorting_data

16.517241379310345