# vg-stats 
## Video Game Sales
### salsabil mislat 15/11/2021

In [1]:
import numpy 

import pandas as pd

In [2]:
df = pd.read_csv('vgsales.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

1. **Which company is the most common video game publisher?**

In [3]:
most_common_publisher=df['Publisher'].mode()[0]

most_common_publisher

'Electronic Arts'

2. **What’s the most common platform?**

In [4]:
most_common_platform=df['Platform'].mode()[0]

most_common_platform

'DS'

3. **What about the most common genre?**

In [5]:
most_common_genre=df['Genre'].mode()[0]

most_common_genre

'Action'

4. **What are the top 20 highest grossing games?**

In [6]:
top_20_highest=df.head(20)

top_20_highest

the_sorted_value=df [ ['Name', 'Global_Sales'] ]

top_twenty_highest_grossing_games=the_sorted_value.sort_values(by='Global_Sales', ascending=False).head(20)

top_twenty_highest_grossing_games

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

5. **For North American video game sales, what’s the median?**

In [7]:
na_median_sales=df['NA_Sales'].median()

na_median_sales

0.08

5. **Provide a secondary output showing ten games surrounding the median sales output**

In [8]:
games_with_median_values=df[['Name','NA_Sales']].loc[df['NA_Sales']==na_median_sales]
middle=len(games_with_median_values)
ten_median_na_seller_names=games_with_median_values[(middle//2)-5:(middle//2)+5]
ten_median_na_seller_names
# games_with_median_values

                                     Name  NA_Sales
9931             Spider-Man: Edge of Time      0.08
9934                     Turok: Evolution      0.08
9957                             Deadpool      0.08
9996           GT Advance 2: Rally Racing      0.08
10000                      A Witch's Tale      0.08
10012                   Nickelodeon Dance      0.08
10020            Phantasy Star Collection      0.08
10022               LEGO Knights' Kingdom      0.08
10024  Family Game Night 4: The Game Show      0.08
10026                        NBA Jam 2002      0.08

6. **For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?**

In [9]:
the_top_game=df['NA_Sales'].iloc[0]
the_mean_for_NA=df["NA_Sales"].mean()
the_mean_for_NA
the_stander_for_NA=df["NA_Sales"].std()
the_stander_for_NA
ten_top_stander_for_the_top_game= ((the_top_game-the_mean_for_NA)/the_stander_for_NA)
ten_top_stander_for_the_top_game

50.47898767479108

7. **The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?**

In [10]:
platform_nintendo_wii = df[df["Platform"]=='Wii']
platform_nintendo_wii
platform_not_nintendo_wii = df[df["Platform"]!='Wii']
platform_not_nintendo_wii
average_compare_all = platform_nintendo_wii["Global_Sales"].mean()
average_compare_wii=platform_not_nintendo_wii["Global_Sales"].mean()
average_compare_all
average_compare_wii
print(f'not wii {average_compare_all} wii {average_compare_wii}')

not wii 0.6994037735849057 wii 0.5233896418516336

**Come up with 3 more questions that can be answered with this data set.**

## The stander for the Other_Sales

In [11]:
stander_for_other_sales = df['Other_Sales'].std()

stander_for_other_sales

0.18858840291271461

## The mean for the EU_Sales

In [12]:
Eu_sales_mean=df['EU_Sales'].mean()
Eu_sales_mean

0.14665200626581515

## The max game for the JP_sales

In [13]:
jp_sales_max=df['JP_Sales'].max()

jp_sales_max

10.22

In [14]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher,'Electronic Arts')
    assert_equal(most_common_platform,'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, 'Wii Sports')
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name,'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(na_median_sales, 0.08)
    # assert_equal(ten_median_na_seller_names,50.47898767479108)
    assert_equal(ten_median_na_seller_names.iloc[0].Name,'Spider-Man: Edge of Time')
    assert_equal(average_compare_wii,0.5233896418516336)
    assert_equal(average_compare_all,0.6994037735849057)

    assert_equal(stander_for_other_sales,0.18858840291271461)
    assert_equal(Eu_sales_mean, 0.14665200626581515)
    assert_equal(jp_sales_max,10.22)

    print("Success!!!")

test()

Success!!!